html {
    background-image: linear-gradient(to right, #030d49 , #0b23a8);
}

body {
    font-family: Neuton;
    font-size: 50px; 
    text-decoration: none;
    position: relative;

    margin-top: 80px;
}

/* plan!! have the text slide in from the left like a staircase. last line is different font and center aligned*/
/*trying?? animations? ough, timing is weird*/

#lineOne {
    color: #3f95f7;
    margin-top: 70px;

    animation-name: aniOne;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes aniOne {
    from {transform: translate(-1500px); opacity: 1%}
    to {transform: translate(100px); opacity: 100%}
}



#lineTwo {
    color: #68abf8;
    margin-top: 70px;
    opacity: 0%; /*i'm actually rlly happy with this solution, since i wanted a staggered effect to the text motion, i made the starting text all opacity 0% so it looks like they're coming from off screen :D*/

    animation-name: aniTwo;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes aniTwo {
    from {transform: translate(-1500px); opacity: 1%;}
    to {transform: translate(250px); opacity: 100%;}
}


#lineThree {
    color: #83bbfa;
    margin-top: 70px;
    opacity: 0%; 

    animation-name: aniThree;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes aniThree {
    from {transform: translate(-1500px); opacity: 1%;}
    to {transform: translate(400px); opacity: 100%;}
}

#lineFour {
    color: #96b3f8;
    margin-top: 100px;
    font-family: Caveat;
    font-size: 100px;
    text-align: center; /*need this*/
    opacity: 0%; 

    animation-name: aniFour;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes aniFour {
    from {transform: translate(-1500px); opacity: 1%;}
    to {transform: translate(center); opacity: 100%;}
}

#lineFour a {
    color: #b3c7f7;
    text-decoration-thickness: 2px;
}

.littleHands {
    color: #eeafaf;
    display: inline-block; /*this. line. is. necessary.*/

    animation-name: aniLittle;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes aniLittle {
    from {transform: scale(1);}
    to {transform: scale(.6);}
}