html {
    background-image: linear-gradient(to right, #0b23a8 , #1971d6);
}

body {
    color: #ffffff;
    font-family: Neuton;
    font-size: 90px; 
}

#lineOne {
    color: #cee5ff;
}

#lineTwo {
    color: #95c4fa;
}

#lineThree {
    color: #95c4fa;
}

a.link {
    text-decoration: none;
}
