html {
    background-image: linear-gradient(to right, #1971d6 , #23b1f3);
}

body {
    color: #ffffff;
    font-family: Neuton;
    font-size: 90px; 
}

#lineOne {
    color: #cbf9ff;
}

#lineTwo {
    color: #cbf9ff;
}

#lineThree {
    color: #cbf9ff;
}

a.link {
    text-decoration: none;
}

#credits {
    color: #0044ff;
    text-align: right;
    font-size: 30px;
}